.BQLogo-container {
    margin: auto;  
    display: flex;       
    justify-content: space-around;
    align-items: center;
  }

  
  .BQLogo-container  .burger-queen-logo {   
     width: 30%;    
     display: flex;
     margin-top: 20px ;
  } 

.tittleOrders {
    margin-top: 8%;
  }

.tittleOrders h1 {
    font-size: 15px;    
    line-height: 12px;
    font-family: 'RocknRoll One', sans-serif;
    color: #572950;    
}

.contP {       
    font-size: 12px;    
    font-family: 'RocknRoll One', sans-serif;
    color: #572950; 
    margin-top: 8%;   
    margin-right: 3%;
}


 .buttonLogout {
    background-color: #A3586D;
    color: white;    
} 

