* { 
  font-family: 'RocknRoll One', sans-serif;
}

.BQLogo-container {    
    display: flex;       
    justify-content: space-around;
    align-items: center;
    margin-top: -40px;
  }

  
  .BQLogo-container  .burger-queen-logo {   
     width: 30%;    
     display: flex;
     margin-top: 20px ;
  } 

.tittleOrders {
    margin-top: 8%;
  }

.tittleOrders h1 {
    font-size: 15px;    
    line-height: 12px;    
    color: #572950;    
}

.contP {       
    font-size: 14px;        
    color: #572950; 
    margin-top: 8%;   
    margin-right: 3%;
}


 .buttonLogout {
    background-color: #A3586D;
    color: white;   
    border-style: none; 
    margin-left: 92%;
    margin-top: 3%;
    width: 40px;
    height: 30px;
    border-radius: 10px;
} 

