* {
    margin: 0;
    font-family: 'RocknRoll One', sans-serif;
}

#root {
    background: linear-gradient(180deg, #F46A4E 0%, rgba(243, 176, 90, 0) 83.85%);
}

.welcomeHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 img {
    margin: 0;
    padding: 0;
    margin-top: -75px;
 }

.loginBox {
    position: absolute;
    background: #FFFFFF;
    width: 548px;
    height: 503px;
    left: 144px;
    top: 520px;
    box-shadow: 7px 5px 9px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.bqApp {
    margin: 20px 0 20px 0;
}

.welcome, .bqApp, .authUser {
    color: #572950;
}

.welcome {
    margin-top: -75px;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
}

.formLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userEmail {
    width: 20%;
    margin-top: 28px;
    margin-top: 28px;

}

.userPassword {
    margin-top: 16px;
}

.signIn {
    font-size: 24px;    width: 322px;
    height: 78px;
    margin-top: 40px;
    margin-left: 110px;    
    box-sizing: border-box;
    background: #A3586D;
    border: 1px solid rgba(2, 69, 122, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px
}